<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Register</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='farmerloginstyles.css') }}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/farmer_login">Login</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="screen">
            <div class="login-box">
                <form class="login-form" action="{{ url_for('register_farmer') }}" method="POST">

                    <form class="login" method="POST" action="{{ url_for('register_farmer') }}">
                        {{ form.hidden_tag() }}
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endwith %}
                        <div class="form-group">
                            {{ form.kisaan_id.label }}
                            {{ form.kisaan_id(class_='form-control') }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class_='form-control') }}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label }}
                            {{ form.confirm_password(class_='form-control') }}
                        </div>
                        <div class="login__submit">
                            {{ form.submit(class_="login-button") }}
                        </div>
                    </form>
                <a class="register-link" href="{{ url_for('login_farmer') }}">Already have an account? Login</a>
            </div>
            <div class="screen__background">
                <span class="screen_background_shape screen_background_shape1"></span>
                <span class="screen_background_shape screen_background_shape2"></span>
                <span class="screen_background_shape screen_background_shape3"></span>
                <span class="screen_background_shape screen_background_shape4"></span>
            </div>
        </div>
    </div>

    <script>
        function verifyPassword() {  
            var pw = document.getElementById("password").value;  
    
            if (pw == "") {  
                document.getElementById("message").innerHTML = "<span style='color: Black; font-size: 16px; font-family: Arial;'>**Fill the password please!</span>";  
                return false;  
            }  
    
            if (pw.length < 8) {  
                document.getElementById("message").innerHTML = "<span style='color: Black; font-size: 16px; font-family: Arial;'>**Password length must be at least 8 characters</span>";  
                return false;  
            }  
    
            if (pw.length > 19) {  
                document.getElementById("message").innerHTML = "<span style='color: Black; font-size: 16px; font-family: Arial;'>**Password length must not exceed 19 characters</span>";  
                return false;  
            }  
    
            // Check for at least one uppercase letter
            if (!/[A-Z]/.test(pw)) {
                document.getElementById("message").innerHTML = "<span style='color: Black; font-size: 16px; font-family: Arial;'>**Password must contain at least one uppercase letter</span>";
                return false;
            }
    
            // Check for at least one special character
            if (!/[!@#$%^&*(),.?":{}|<>]/.test(pw)) {
                document.getElementById("message").innerHTML = "<span style='color: Black; font-size: 16px; font-family: Arial;'>**Password must contain at least one special character</span>";
                return false;
            }
            
            // Clear the error message if password is valid
            document.getElementById("message").innerHTML = "";
            
            return true;
        }
    </script>
    
</body>
</html>
