<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyles.css') }}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            
        </ul>
    </div>
    <div class="container">
        <div class="login-box">
            <form class="login-form" action="{{ url_for('user_login') }}" method="POST">
                {{ form.hidden_tag() }}
                <h2>Login</h2>
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    {{ form.username(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.password(class_='form-control') }}
                </div>
                {{ form.submit(class_='login-button') }}
                <div class="register-link">
                    Don't have an account? <a href="{{url_for('register_user')}}">Sign Up</a>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>
